@media only screen and (max-width: 768px){
    .listbox{
        display: flex;
        flex-direction: row;
        background-color: #A6CFD5;
        margin:10px;
        border: 2px solid #0d0221;
        border-radius: 10px;
    }
    .cart-items-apply>h2{
        display: flex;
        justify-content: center;
        width:100%;
        font-family: "Playfair Display";
    }
    .headtitle{
        width:80%;
        display: flex;
        justify-content: center;
        font-family: "Playfair Display";
        margin:10px;
    }
    .prodimg{
        width:160px;
        height:auto;
        border-radius: 10px 0 0 10px;
    }
    .infobox{
        display: flex;
        flex-direction: column;
        margin:5px;
    }
    .infobox>h3,h1{
        font-family: "Playfair Display";
        font-weight: 700;
    }
    .infobox>h5{
        font-family: Arial, Helvetica, sans-serif;
    }
    .prodbtn>button{
        height:30px;
        width:auto;
        border:none;
        background:none;
   }
   .margin{
    height:20vh;
    width:100%;
   }
   .billlist{
    width:100%;
    list-style-type: none;
    margin:0
   }
   .totaldisplay{
    width:95%;
    border: 2px solid #0d0221;
    border-radius: 10px;
    padding:10px;
    margin:10px;
   }
   li.li{
    width: 100%;
    display: flex;
    font-family: Playfair Display

   }
}