@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import '@splidejs/react-splide/css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
  overflow-x: none;
}
.css-1iyzz1t{
    width:100%;
  }
.container-fluid{
  background-color: #0d0221;
  margin:0;
  padding:5px;
}
nav.bg-body-tertiary{
  margin:0;
  padding:0;
}
span.navbar-toggler-icon{
  color:#0d0221
}
Link:focus{
  color:none;
}
nav.bg-body-tertiary.mb-3.navbar.navbar-light{
  margin:0;
  padding:0
}
body{
  margin:0;
  justify-content: left;
}
.body{
  display: flex;
  flex-direction:column;
}
.MuiBottomNavigation-root.css-1bped5o-MuiBottomNavigation-root{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
}
.nav{
  width:100% !important;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
}

.icon{
  display: none;
  margin:0 40px;
}

.heroname{
  width:50%;
  float: left;
    justify-content: left;
      align-items: center;


}
.luxify{
  color:#A6CFD5;
  margin: 0;
  height:100%;
  display: flex;
  align-items: center;
  margin-left:10px;
  font-family: Playfair Display;
  justify-content: left;
  align-items: center;
  font-size: 30px;


} 
.list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width:50%;
  justify-content: flex-end;
  margin-top:20px;
}
.carimg{
  width:100%;
}
.navb{
  width:100%
}
.carousl2{
  display: none;
}
nav.navbphn {
  display: none;
}

.feat{
  display: flex;
  flex-direction: row;
  width:100%;
  margin-top:5px;
}
.feat>div{
  height:60px;
  width:33.3%;
  background-color: #0d0221;
}
.featsec{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.featsec>p{
  color:#A6CFD5;
  margin:0;
  margin-left:5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.imgtype{
  width:33.3%;
  height:auto;
}
@media only screen and (max-width: 768px){
  html{
    overflow-x: hidden;
  }
  .body{
    height: fit-content;
  }
  .carous{
    display: none;
  }
  .carousl2{
    display: contents;
    margin-top:10px;
  }
  nav.navbphn{
    display: block;
    height:8vh;
    z-index: 100;
  }
  .phn-bn{
    font-family: Playfair Display;
  }
  .nav{
    position:fixed;
    bottom:0;
    width:100%;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
  }
  .icon{
    margin:0 40px;
    display:contents;
  }
  .heroname{
    display: none;
  }
  button.btn-close{
    background-color:#A6CFD5
  }
  .dropdown-menu.show{
    background-color:#0d0221;
  }
  .list{
    display: none;
  }
  .MuiBottomNavigation-root.css-1bped5o-MuiBottomNavigation-root{
    justify-content: center;
  }
  .css-1iyzz1t{
    width:100% !important;
  }
.feat{
  display: flex;
  flex-direction: row;
  width:100%;
}
.feat>div{
  height:60px;
  width:33.3%;
  background-color: #0d0221;
}
.featsec{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.featsec>p{
  color:#A6CFD5;
  margin:0;
  margin-left:5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.imgtype{
  width:33%;
  height:auto;
}
.PIT{
  margin-top:10px;
  font-weight: 900;
}
.productslist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.product{
  width:90%;
  height:fit-content;
  margin-right:0;
  border: 1px solid #0d0221;
  border-radius: 10px;
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product>img{
  width:90%;
  height:auto;
  border-radius: 10px;
}
div.rowp{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.PIT{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btnprd{
  background-color:#0d0221;
  border:1px solid #0d0221;
  border-radius: 50px;
  padding:10px;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  color:white
}
.prodtitle{
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin:5px 10px;
}
.product>p{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin:10px;
  color:#0d0221;
}
.product>*{
  color:#0d0221;
}
p.price{
  margin: 10px 10px 0px 10px;
  font-size: 25px;
}
.btnprd:active{
  background-color: #393049;
  transition: ease-in;
}
.margin{
  height:20vh;
  width:100%;
 }
.brandname{
  font-family: poppins;
}
  .css-1dosm44{
    margin-top:15px;}
}
